In [1]:
import pandas as pd

In [10]:
df1=pd.read_csv('model_data.csv', encoding='cp949')
print(df1.shape)
df1.head()

(31, 10)

,NAME,GENDER,AGE,AGEGROUP,WEIGHT,OXY,RUNTIME,RUNPULSE,RSTPULSE,MAXPULSE
0,Donna,여성,42,40대,68.15,59.571,8.17,166,40,172
1,Gracie,NaN,38,30대,81.87,60.055,8.63,170,48,186
2,Luanne,여성,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,54.625,8.92,146,48,155
4,Chris,남성,49,40대,NaN,49.156,8.95,180,44,185

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
NAME        31 non-null object
GENDER      30 non-null object
AGE         31 non-null int64
AGEGROUP    31 non-null object
WEIGHT      29 non-null float64
OXY         31 non-null float64
RUNTIME     31 non-null float64
RUNPULSE    31 non-null int64
RSTPULSE    31 non-null int64
MAXPULSE    31 non-null int64
dtypes: float64(3), int64(4), object(3)
memory usage: 2.5+ KB

In [4]:
df1.isnull().sum()

NAME        0
GENDER      1
AGE         0
AGEGROUP    0
WEIGHT      2
OXY         0
RUNTIME     0
RUNPULSE    0
RSTPULSE    0
MAXPULSE    0
dtype: int64

In [5]:
df2=df1.dropna()
print(df2.shape)
df2.head()

(28, 10)

,NAME,GENDER,AGE,AGEGROUP,WEIGHT,OXY,RUNTIME,RUNPULSE,RSTPULSE,MAXPULSE
0,Donna,여성,42,40대,68.15,59.571,8.17,166,40,172
2,Luanne,여성,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,54.625,8.92,146,48,155
5,Allen,남성,38,30대,89.02,49.874,9.22,178,55,180
6,Nancy,여성,49,40대,76.32,48.673,9.40,186,56,188

In [15]:
X=df2[['AGE', 'WEIGHT', 'RUNTIME','RUNPULSE', 'RSTPULSE', 'MAXPULSE']]
Y=df2[['OXY']]

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import numpy

In [22]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y, test_size=0.3, random_state=1234)

print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(19, 6)
(9, 6)
(19, 1)
(9, 1)

In [23]:
model=Lasso()
result=model.fit(X_train, Y_train)

In [24]:
Y_pred=model.predict(X_test)

In [25]:
print(model.score(X_test, Y_test))
print(mean_squared_error(Y_test, Y_pred))
print(mean_absolute_error(Y_test, Y_pred))

0.8347497451920669
2.5877731160054482
1.420696977340265