In [22]:
import numpy as np
from scipy import stats
import scipy.stats
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

In [3]:
n=3
for i in range(n+1):
    prob=stats.binom.pmf(k=i, n=n, p=0.4)
    print("P(X={0})={1:.3F}".format(i, prob))

P(X=0)=0.216
P(X=1)=0.432
P(X=2)=0.288
P(X=3)=0.064

In [4]:
n=5
for i in range(n+1):
    prob=stats.binom.pmf(k=i, n=n, p=0.3)
    print("P(X={0})={1:.3F}".format(i, prob))

P(X=0)=0.168
P(X=1)=0.360
P(X=2)=0.309
P(X=3)=0.132
P(X=4)=0.028
P(X=5)=0.002

In [5]:
mu=2
prob=stats.poisson.pmf(3,mu)
cdf_prob=stats.poisson.cdf(2,mu)
print("1분당 {0}번의 전화가 걸려올 확률: {1:.1f}".format(3,prob*100))
print("1분당 최대 {0}회 이하의 전화가 걸려올 확률: {1:.1f}".format(2, cdf_prob*100))

1분당 3번의 전화가 걸려올 확률: 18.0
1분당 최대 2회 이하의 전화가 걸려올 확률: 67.7

In [7]:
mu=3
prob=stats.poisson.pmf(2,mu)
cdf_prob1=stats.poisson.cdf(1,mu)
cdf_prob3=stats.poisson.cdf(2,mu)
print("10시에서 11시 사이에 {0}명의 손님이 도착할 확률: {1:.1f}".format(2,prob*100))
print("10시에서 11시 사이에 {0}명 이하의 손님이 도착할 확률: {1:.1f}".format(1,cdf_prob1*100))
print("10시에서 11시 사이에 {0}명 이상의 손님이 도착할 확률: {1:.1f}".format(3,(1-cdf_prob3)*100))

10시에서 11시 사이에 2명의 손님이 도착할 확률: 22.4
10시에서 11시 사이에 1명 이하의 손님이 도착할 확률: 19.9
10시에서 11시 사이에 3명 이상의 손님이 도착할 확률: 57.7

In [ ]:
연속형 데이터에 대해서 양품률을 따질 때는 기준치를 제시.
ex) 인장 강도 100부터 양품
불량품은 개수를 세서 이산형 분포 사용.

In [12]:
from scipy.stats import shapiro
ds_camshaft=pd.read_csv("camshaft.csv", engine="python")
ds_camshaft.head()

   Length  Supp1  Supp2
0   601.4  598.0  601.6
1   601.6  599.8  600.4
2   598.0  600.0  598.4
3   601.4  599.8  600.0
4   599.4  600.0  596.8

In [13]:
data1=ds_camshaft['Supp1']
shapiro(data1)

(0.9788156747817993, 0.10744144767522812)

In [20]:
ds_2sample=pd.read_csv("2sample_t_test.csv")
ds_2sample.head()

   Mat_A  Mat_B  Total  Sub
0   73.4   68.7   73.4    1
1   77.0   71.4   77.0    1
2   73.7   69.8   73.7    1
3   73.3   75.3   73.3    1
4   73.1   71.3   73.1    1

In [25]:
data1=ds_2sample['Mat_A']
data1=data1.dropna(axis=0)
shapiro(data1) # 둘다 유의 -> 모수 통계 사용 가능

(0.9062636494636536, 0.2562994360923767)

In [27]:
data2=ds_2sample['Mat_B']
data2=data2.dropna(axis=0)
shapiro(data2) # 둘다 유의-> 모수 통계 사용 가능

(0.9729753732681274, 0.9169777035713196)

In [28]:
df=pd.DataFrame({"sample": [3.6, 2.9, 2.8, 2.6, 3.4, 3.2, 2.2, 2.6, 2.6, 2.4, 2.4, 2.6, 3.4, 2.4, 2.1, 2.6, 3.0, 2.4, 2.7, 2.4, 2.6, 2.9, 2.0, 2.7, 2.2, 2.8, 2.7, 1.8, 2.5, 3.0, 3.2, 2.8, 2.6, 3.2, 3.1, 2.9, 2.7, 2.7, 2.2]})
df.head()

   sample
0     3.6
1     2.9
2     2.8
3     2.6
4     3.4

In [ ]:
신뢰구간(신뢰수준에 해당하는 확률의 범위), 신뢰수준(확률), 유의수준(확률), 검정통계량(표본에서 모수를 검정하기 위한 함수), p-value, 임계값의 개념(검정 통계량보다 더 극단적인 값이 나올 확률)
카이스퀘어 분포는 대칭이 아니라 신뢰구간 계산이 어려움
용어의 그림을 그릴 줄 알고
임계값과 p-value의 관계 이해
코딩 결과 해석

In [29]:
lower,upper=stats.norm.interval(0.95, loc=np.mean(df), scale=0.397/np.sqrt(40))
print("신뢰구간: ({0}, {1})".format(lower.round(2), upper.round(2)))

신뢰구간: ([2.57], [2.81])

In [30]:
df=pd.DataFrame({"sample": [18,18,20,21,20,23,19,18,17,21,22,20,20,21,20,19,19,18,17,19]})
df.head()

   sample
0      18
1      18
2      20
3      21
4      20

In [32]:

lower,upper=stats.norm.interval(0.95, loc=np.mean(df), scale=3.8/np.sqrt(20))
print("신뢰구간: ({0}, {1})".format(lower.round(2), upper.round(2)))

신뢰구간: ([17.83], [21.17])

In [38]:
df=pd.DataFrame({'sample': [54.1, 53.3, 56.1, 55.7, 54.0, 54.1, 54.5, 57.1, 55.2, 53.8, 54.1, 54.1, 56.1, 55.0, 55.9, 56.0, 54.9, 54.3, 53.9, 55.0]})
lower,upper=stats.t.interval(0.95, len(df)-1, loc=np.mean(df), scale=scipy.stats.sem(df))
print("신뢰구간: ({0}, {1})".format(lower.round(2), upper.round(2)))

신뢰구간: ([54.39], [55.33])

In [48]:
prop=stats.chi2.ppf(0.05, 9)
prop

3.325112843066815

In [49]:
prop=stats.chi2.ppf(0.95, 9)
prop

16.918977604620448

In [43]:
prop=stats.chi2.ppf(0.05, 49)
prop

33.93030561852784

In [44]:
prop2=stats.chi2.ppf(0.975, 49)
prop2

70.22241356643451

In [47]:
df=pd.DataFrame({'sample': [12,13,16,9,5,19,13,8,11,17,9,5,12,11,8,6,10,12,17,11,10,9,12,14,9,6,8,14,5,8,5,8,4,9,6,8,13,16,9,5,16,13,14,17,11,9,19,16,12,8]})
alpha=0.05
n=len(df)
s=np.var(df['sample'])
df=n-1
upper=(n-1)*s/stats.chi2.ppf(alpha/2, df)
lower=(n-1)*s/stats.chi2.ppf(1-alpha/2, df)

print("신뢰구간: ({0}, {1})".format(lower.round(2), upper.round(2)))

신뢰구간: (10.85, 24.15)

In [55]:
df=pd.DataFrame({'sample': [12,13,16,9,5,19,13,8,11,17,9,5,12,11,8,6,10,12,17,11,10,9,12,14,9,6,8,14,5,8,5,8,4,9,6,8,13,16,9,5,16,13,14,17,11,9,19,16,12,8]})
alpha=0.05
n=len(df)
s=np.var(df['sample'])
df=n-1
upper=(n-1)*s/stats.chi2.ppf(alpha/2, df)
lower=(n-1)*s/stats.chi2.ppf(1-alpha/2, df)

print("신뢰구간: ({0}, {1})".format(lower.round(2), upper.round(2)))

신뢰구간: (10.85, 24.15)

In [56]:
prop=stats.norm.ppf(0.025, 0,1)
prop

-1.9599639845400545

In [62]:
df=pd.DataFrame({'sample': [74.5, 81.2, 73.8, 82.0, 76.3, 75.7, 80.2, 72.6, 77.9, 82.8]})
data=df['sample']
shapiro(data)
# p-value가 0.266으로 0.05보다 커서 정규

(0.9331598281860352, 0.4796823561191559)

In [63]:
t_result=stats.ttest_1samp(df, 76.7)
t, p=t_result.statistic.round(3), t_result.pvalue.round(3)
print("1-Sample t-test")
print("t통계량: {}".format(t))
print("p-value : {}".format(p))

1-Sample t-test
t통계량: [0.864]
p-value : [0.41]

# 숙제 140

In [64]:
df=pd.DataFrame({'sample': [85.0, 79.0, 79.1, 79.9, 81.6,78.6,85.4,83.4,78.1,79.2]})
data=df['sample']
shapiro(data)
#p-value가 0.054fh 0.05보다 커서 정규

(0.8473219275474548, 0.053975414484739304)

In [65]:
t_result=stats.ttest_1samp(df, 78.0)
t, p=t_result.statistic.round(3), t_result.pvalue.round(3)
print("1-Sample t-test")
print("t통계량: {}".format(t))
print("p-value : {}".format(p))

1-Sample t-test
t통계량: [3.379]
p-value : [0.008]